<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href=https://gracious-babbage-07a3c5.netlify.com/>Yehoom</a>
  </p>
  <br />
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'yehoom.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Yehoom Chou</h2>
      <br />
      <p>
        Yehoom Chou is a web developer. 
      </p>
    </div>
  </div>
  <br class="clear" />

</div>

<br class="clear" />
<br />
<br />
<br />
<br />